apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  namespace: vault
  labels:
    app: vault
data:
  vault-config.hcl: |
    ui = true

    listener "tcp" {
      address = "0.0.0.0:8200"
      tls_disable = true
    }

    storage "file" {
      path = "/vault/data"
    }

    api_addr = "http://127.0.0.1:8200"
    cluster_addr = "http://127.0.0.1:8201"

    disable_mlock = true

    log_level = "info"
